.wrapper {
    border: 2px solid black;
    border-radius: 10px;
    width: max-content;
    margin: 20px auto;
    padding: 20px;
    align-items: center;
    justify-content: center;
    background-color: #052d2d;
}
.screen {
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;

    text-align: center;
    background-color: aqua;
    font-weight: bold;
}
.screenWrapper {
    padding: 20px 50px;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #074848;
}
.buttonArea {
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    background-color: #074848;
}
/*.buttonArea button {
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    background-color: aqua;
    border: black 2px solid;
    color: black;
}*/
.button {
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    border: black 2px solid;
    color: black;
    background-color: aqua;
    font-weight: bold;
}

.disabledButton {
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    border: black 2px solid;
    color: black;
    font-weight: bold;
    background-color: #730404;
}