.wrapper {
    display: flex;
    margin: 20px;

}
.wrapper div {
    display: flex;
    align-items: center;
    margin-right: 30px;
    width: 100px;
    height: 50px;
    background-color: greenyellow;

}
div.on {
    background-color: green;
}
div.off {
    background-color: brown;
}